<.flash_group flash={@flash} />
<section class="p-6 bg-gray-300 flex flex-row flex-wrap gap-6">
  <div class="p-6">
    <h1 class="text-center text-3xl font-bold my-4">Chess app</h1>
    <p class="my-4">Functionality TODO</p>
    <ul class="list-disc pl-5 space-y-2">
      <li>The chess board</li>
      <li>Sign-in and Login functionality</li>
      <li>Chat</li>
      <li>two players and others are viewers - all can access chat</li>
    </ul>
  </div>
  <.chess_game />
</section>
